.attribution {
  background-color: hsl(256deg, 26%, 20%);
  font-size: 11px;
  text-align: center;
  color: hsl(0deg, 0%, 98%);
  padding-block: 1rem;
  display: grid;
  justify-items: center;
  gap: 1rem;
}
.attribution a {
  color: hsl(0deg, 0%, 98%);
  padding: 0.2rem 0.5rem;
  margin-left: 0.4rem;
  border: 1px solid hsl(0deg, 0%, 98%);
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

body,
ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  position: relative;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
  font-weight: unset;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: unset;
}

@media (width < 730px) {
  header {
    padding-inline: max((100vw - 1110px) / 2, 1.5rem);
  }
  header ul {
    display: none;
  }
  header button {
    display: block;
  }
}
@media (width > 729px) {
  header {
    padding-inline: max((100vw - 1110px) / 2, 1rem);
  }
  header button {
    display: none;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
header ul {
  text-transform: uppercase;
  align-items: center;
}
header ul li a {
  font-size: 0.9rem;
  color: hsl(273deg, 4%, 51%);
  padding: 0.6rem 1rem;
  transition: all 0.4s;
}
header ul li a:hover {
  color: hsl(270deg, 9%, 17%);
}
header ul li:last-of-type a {
  padding: 0.6rem 2rem;
  color: hsl(270deg, 9%, 17%);
  border: 2px solid hsl(270deg, 9%, 17%);
  transition: all 0.4s;
}
header ul li:last-of-type a:hover {
  color: hsl(0deg, 0%, 98%);
  background-color: hsl(270deg, 9%, 17%);
}
header button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: none;
}
header .off button {
  background-image: url(../images/icon-hamburger.svg);
}
header .off ul li:last-of-type a {
  margin-left: 1rem;
  color: hsl(270deg, 9%, 17%);
  border: 2px solid hsl(270deg, 9%, 17%);
}
header .off ul li:last-of-type a:hover {
  color: hsl(0deg, 0%, 98%);
  background-color: hsl(270deg, 9%, 17%);
}
header .on button {
  background-image: url(../images/icon-close.svg);
}
header .on ul {
  background-image: url(../images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: hsl(256deg, 26%, 20%);
  top: 80px;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: calc(100vh - 80px);
  gap: 2rem;
  padding-block: 3rem;
}
header .on ul li {
  text-align: center;
}
header .on ul li a {
  color: hsl(0deg, 0%, 98%);
  font-size: 1.3rem;
}
header .on ul li:last-of-type {
  margin-top: 0.5rem;
  width: 100%;
  padding-inline: 1.5rem;
}
header .on ul li:last-of-type a {
  display: block;
  width: 100%;
  color: hsl(0deg, 0%, 98%);
  border: 2px solid hsl(0deg, 0%, 98%);
}
header .on ul li:last-of-type a:hover {
  color: hsl(0deg, 0%, 98%);
  background-color: hsl(270deg, 9%, 17%);
}

@media (width < 730px) {
  #hero {
    flex-direction: column;
    flex-flow: column-reverse;
    padding-inline: max((100vw - 1110px) / 2, 0rem);
  }
  #hero::after {
    content: "";
    position: absolute;
    width: 124px;
    height: 330px;
    right: 0px;
    bottom: -175px;
    background-image: url(../images/bg-pattern-intro-right-mobile.svg);
    background-position: 0 0px;
  }
  #hero > div {
    width: 100%;
    padding-block: 6rem;
  }
  #hero > div:first-of-type {
    background-color: hsl(256deg, 26%, 20%);
    padding-inline: 2rem;
    text-align: center;
  }
  #hero > div:first-of-type::before {
    content: "";
    position: absolute;
    width: 165px;
    height: 165px;
    top: 0px;
    left: 0;
    background-image: url(../images/bg-pattern-intro-left-mobile.svg);
    background-size: cover;
  }
  #hero > div:first-of-type h1 {
    margin: 0 auto 1.65rem;
    line-height: 3rem;
    text-align: center;
  }
  #hero > div:last-of-type {
    background-image: url(../images/image-intro-mobile.webp);
  }
}
@media (width > 729px) {
  #hero {
    padding-inline: max((100vw - 1110px) / 2, 1rem);
    background-image: linear-gradient(hsl(256deg, 26%, 20%) 0, hsl(256deg, 26%, 20%) 0 600px, rgba(0, 0, 0, 0) 600px, rgba(0, 0, 0, 0) 100%);
    padding-block: 6.5rem;
    gap: 2rem;
  }
  #hero::before {
    content: "";
    position: absolute;
    width: 195px;
    height: 504px;
    top: 430px;
    left: 0;
    background-image: url(../images/bg-pattern-intro-left-desktop.svg);
    background-size: cover;
  }
  #hero::after {
    content: "";
    position: absolute;
    width: 436px;
    height: 513px;
    right: 0px;
    top: 0;
    background-image: url(../images/bg-pattern-intro-right-desktop.svg);
    background-position: 0 -80px;
  }
  #hero > div {
    width: 50%;
    padding-block: 4.05rem;
  }
  #hero > div:first-of-type h1 {
    max-width: 15ch;
    font-size: clamp(2.8rem, 5vw, 4.4rem);
    line-height: 4.05rem;
    margin-bottom: 1.65rem;
  }
  #hero > div:first-of-type:before {
    content: "";
    position: absolute;
    width: 10rem;
    height: 1px;
    top: 0;
    background-color: hsl(0deg, 0%, 98%);
  }
  #hero > div:last-of-type {
    background-image: url(../images/image-intro-desktop.webp);
  }
}
#hero {
  color: hsl(0deg, 0%, 98%);
  position: relative;
  display: flex;
}
#hero > div {
  position: relative;
}
#hero > div:last-of-type {
  aspect-ratio: 54/65;
  background-size: cover;
}
#hero > div h1 {
  max-width: 15ch;
  font-size: clamp(2.8rem, 5vw, 4.4rem);
  line-height: 4.05rem;
  margin-bottom: 1.65rem;
}
#hero > div p {
  line-height: 1.625rem;
  margin-bottom: 2.5rem;
}
#hero > div a {
  color: hsl(0deg, 0%, 98%);
  padding: 0.55rem 2rem;
  border: 0.125rem solid hsl(0deg, 0%, 98%);
  transition: all 0.4s;
}
#hero > div a:hover {
  color: hsl(256deg, 26%, 20%);
  background-color: hsl(0deg, 0%, 98%);
}
#hero > div img {
  width: 100%;
}

@media (width < 730px) {
  #different {
    padding-inline: max((100vw - 1110px) / 2, 1.6rem);
    margin-top: 8.75rem;
    text-align: center;
  }
  #different::before {
    content: "";
    position: absolute;
    width: 10rem;
    height: 1px;
    top: -1px;
    left: calc((100vw - 10rem) / 2);
    background-color: hsl(273deg, 4%, 51%);
  }
  #different ul {
    flex-direction: column;
    gap: 2rem;
  }
  #different ul li {
    display: grid;
    justify-items: center;
  }
}
@media (width > 730px) {
  #different {
    padding-inline: max((100vw - 1110px) / 2, 1rem);
    margin-top: 3rem;
  }
  #different::before {
    content: "";
    position: absolute;
    width: 10rem;
    height: 1px;
    top: -1px;
    background-color: hsl(273deg, 4%, 51%);
  }
  #different::before ul {
    gap: 1rem;
  }
}
#different {
  position: relative;
  padding-block: 2.9rem;
}
#different::before {
  content: "";
  position: absolute;
  width: 10rem;
  height: 1px;
  top: -1px;
  background-color: hsl(273deg, 4%, 51%);
}
#different h2 {
  font-size: clamp(3rem, 5vw, 4.4rem);
  margin-bottom: 5rem;
}
#different ul {
  gap: 1rem;
  justify-content: space-between;
}
#different ul > li > h3 {
  margin-top: 1.65rem;
  font-size: 1.8rem;
}
#different ul > li p {
  color: hsl(273deg, 4%, 51%);
  margin-top: 1rem;
  line-height: 1.6rem;
  max-width: 37ch;
}

@media (width < 730px) {
  #work {
    padding-inline: max((100vw - 1110px) / 2, 1.6rem);
  }
  #work > div {
    flex-direction: column;
    padding: 4.3rem 2.3rem;
    text-align: center;
    background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
  }
}
@media (width > 730px) {
  #work {
    padding-inline: max((100vw - 1110px) / 2, 2rem);
  }
  #work > div {
    padding: 4.3rem 5rem;
    background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
  }
}
#work {
  -webkit-margin-before: 7rem;
          margin-block-start: 7rem;
  -webkit-margin-after: 9.4rem;
          margin-block-end: 9.4rem;
}
#work div {
  background-color: hsl(256deg, 26%, 20%);
  color: hsl(0deg, 0%, 98%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top right;
  gap: 2rem;
}
#work div h2 {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  max-width: 31rem;
  line-height: 3.5rem;
}
#work div a {
  flex-shrink: 0;
  color: hsl(0deg, 0%, 98%);
  padding: 0.55rem 1.5rem;
  border: 1px solid hsl(0deg, 0%, 98%);
  text-transform: uppercase;
  transition: all 0.4s;
}
#work div a:hover {
  color: hsl(256deg, 26%, 20%);
  background-color: hsl(0deg, 0%, 98%);
}

@media (width < 730px) {
  footer > div {
    background-image: url(../images/bg-pattern-footer-mobile.svg);
    background-size: 100% auto;
    padding-block: 4rem;
  }
  footer > div > ul:first-of-type {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer > div > ul:first-of-type li:first-of-type {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  footer > div > ul:last-of-type {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
    text-align: center;
  }
}
@media (width > 729px) {
  footer > div {
    padding-block: 2rem;
    background-image: url(../images/bg-pattern-footer-desktop.svg);
  }
  footer > div > ul:first-of-type {
    gap: 1rem;
  }
  footer > div > ul:last-of-type {
    grid-template-columns: repeat(4, 1fr);
  }
}
footer > div {
  background-color: hsl(0deg, 0%, 98%);
  background-repeat: no-repeat;
  padding-inline: max((100vw - 1110px) / 2, 1rem);
  text-transform: uppercase;
}
footer > div > ul:nth-of-type(1) {
  padding-block: 2.2rem;
  position: relative;
  gap: 1rem;
}
footer > div > ul:nth-of-type(1):after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: hsl(273deg, 4%, 51%);
  bottom: 0;
}
footer > div > ul:nth-of-type(1) li:first-of-type {
  margin-right: auto;
}
footer > div > ul:nth-of-type(1) > li > a > svg {
  color: #837d88;
  color: hsl(273deg, 4%, 51%);
  transition: color 0.4s;
}
footer > div > ul:nth-of-type(1) > li > a > svg:hover {
  color: hsl(270deg, 9%, 17%);
}
footer > div > ul:nth-of-type(2) {
  margin-block: 2.3rem;
  display: grid;
}
footer > div > ul:nth-of-type(2) li {
  display: grid;
  gap: 0.8rem;
}
footer > div > ul:nth-of-type(2) li span {
  color: hsl(273deg, 4%, 51%);
  margin-bottom: 1rem;
}
footer > div > ul:nth-of-type(2) li a {
  color: hsl(270deg, 9%, 17%);
}
footer > div > ul:nth-of-type(2) li a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */